body {
    background-image: url(images/background.jpg);
    background-size: cover;
}
h1 {
    font-size: 85px;
    color: red;
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-top: 4%;    
}
#start {
	background-color: rgb(221, 49, 64);
	border-radius: 35px;
	color:white;
	font-family: Arial;
	font-size: 35px;
    padding: 16px 31px;
    display: block;
    margin: auto;
    margin-top: 10%;
}
#reset {
    background-color: red;
    color: white;
    font-size: 30px;
    display: none;
    float: right;
    margin-top: -3%;
}

#score {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: -7px;
}
#mode {
	background-color: rgb(221, 49, 64);
	border-radius: 35px;
	color:white;
	font-family: Arial;
	font-size: 35px;
    padding: 16px 31px;
    display: block;
    margin: auto;
    margin-top: 3%;
}
#normal{
    background-color: rgb(221, 49, 64);
	border-radius: 35px;
	color:white;
	font-family: Arial;
	font-size: 35px;
    padding: 16px 31px;
    display: none;
    margin: auto;
    margin-top: 10%;
}
#hard{
    background-color: rgb(221, 49, 64);
	border-radius: 35px;
	color:white;
	font-family: Arial;
	font-size: 35px;
    padding: 16px 31px;
    display: none;
    margin: auto;
    margin-top: 3%;
}
